.container{
text-align: center;
background-image: url(https://previews.123rf.com/images/dimiramos/dimiramos2306/dimiramos230600074/205825578-brazil-soccer-player-running-with-the-ball-colored-drawing-with-simple-strokes.jpg) ;
}
.nome{
    background-color: #606cee;
    
}
.idade{}
.telefone{}
.time{
    background-color: #606cee;
}
.sócio{}
.SMS{
    background-color: #606cee;
}
.estadio{}